input.i-questionnaire:focus {
    outline-style: none !important;
  }
  
  .c-cart-show {
    display: block !important;
  }
  
  .c-menu-mobile-margin{
      margin-top: 8px
  }
  .c-menu-mobile-margin > a {
      color:#fff !important;
  }
  .c-menu-mobile-link {
      color:#fff;
  }
  .c-layout-header.c-layout-header-2 .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-btn-icon, .c-page-on-scroll .c-layout-header.c-layout-header-2 .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-link {
      color:#fff;
  }
  
  .tooltip.top .tooltip-arrow {
      border-top-color: #fff;
  }
  
  .tooltip-point .tooltip{
    top: -26px;
    opacity: 1;
  }
  
  .spec .tooltip{
    top: 8px !important;
  }
  
  .tooltip-point .tooltip .tooltip-arrow{
    border-left-color: #fff;
  }
  .tooltip-inner {
    font-family: 'Museo-Regular';
    font-size: 15px !important;
    padding: 5px 15px;
    max-width: 300px;
    color: #a5a5a5;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 1px 2px 20px 2px #ececec;
  }
  .tooltip.left .tooltip-arrow {
      border-left-color: #fff;
  }
  .tooltip.right .tooltip-arrow {
      border-right-color: #fff;
  }
  /* CAROUSEL */
  .carousel .slide {
      background: none !important;
  }
  .carousel.carousel-slider .control-arrow {
      color: #000000;
      height: 90%;
  }
  .carousel.carousel-slider .control-arrow:hover {
      background: none !important;
  }
  .carousel .control-next.control-arrow:before {
      border-left: 8px solid #333;
  }
  .carousel .control-prev.control-arrow:before {
      border-right: 8px solid #333;
  }
  
  #carousel .slide {
    opacity: 0.5
  }
  #carousel .selected {
    opacity: 1
  }
  #carousel .slide .c-testimonial-container {
    background: transparent !important;
    box-shadow: none !important;
  }
  #carousel .selected .c-testimonial-container {
    background: #FFFFFF !important;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.08) !important;
  }
  #image-slider .selected{
    z-index: 1000
  }
  #image-slider .carousel.carousel-slider .control-arrow {
    height: 60%;
  }
  #image-slider .carousel .slider-wrapper {
    padding: 0 12%;
  }
  
  input::placeholder {
      color: #ECECEC;
  }
  
  div.ecwid-minicart-link {
      display: none;
  }
  div.ecwid-minicart-caption {
      display: none;
  }
  div.ecwid-minicart {
      border: 0px solid red !important;
      background: none !important;
      display: none !important;
  }
  div.ecwid-minicart-clickArea {
      background: none !important;
  }
  div.ecwid-minicart-counter {
      width: auto !important;
      top: 36px !important;
      left: 0px !important;
      color: #a6a6a6 !important;
      font-weight: 500 !important;
      font-family: 'gilroy-light' !important;
      font-size: 20px !important;
  }
  div.ecwid-minicart-counter:hover {
      color: #000000 !important;
  }
  table.ecwid-Checkout-blockTitle .ecwid-btn {
      display: none !important;
  }
  .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-btn.ecwid-btn--secondary.ecwid-btn--sign_in {
      display: none !important;
  }
  
  .cy-btn-white {
      color: #FFFFFF;
  }
  .cy-border-white {
      background: transparent;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
  }
  
  .c-menu-mobile-margin > a {
      color: #a6a6a6 !important;
  }
  .c-link {
      color: #FFFFFF !important;
      font-weight: 600 !important;
      font-size: 16px !important;
  }
  .c-btn-icon {
      color: #FFFFFF !important;
      font-weight: 600 !important;
  
      font-size: 16px !important;
  }
  
  .c-page-on-scroll .c-link {
      color: #3498DB !important;
  }
  .c-page-on-scroll .c-btn-icon {
      color: #3498DB !important;
  }
  
  .c-desktop-logo {
      display: block;
  }
  .c-page-on-scroll .c-desktop-logo {
      display: none;
  }
  .c-desktop-logo-inverse {
      display: none;
  }
  .c-page-on-scroll .c-desktop-logo-inverse {
      display: block;
  }
  
  /* Extra nav bar */
  .extra-nav-bar .c-link:hover {
      color: #a6a6a6 !important;
      font-family: 'gilroy-light';
      font-size: 20px;
  }
  .extra-nav-bar .c-link:hover > i {
      color: #a6a6a6 !important;
  }
  .extra-nav-bar .c-link {
      color: #FFFFFF !important;
      font-family: 'gilroy-light';
      font-size: 20px;
  }
  
  .c-page-on-scroll .extra-nav-bar {
      background-color: #FFFFFFEE !important;
  }
  .c-page-on-scroll .extra-nav-bar .c-link:hover {
      color: #a6a6a6 !important;
      font-family: 'gilroy-light';
      font-size: 20px;
  }
  .c-page-on-scroll .extra-nav-bar .c-link:hover > i {
      color: #a6a6a6 !important;
  }
  .c-page-on-scroll .extra-nav-bar .c-link {
      color: #3498DB !important;
      font-family: 'gilroy-light';
      font-size: 20px;
  }
  
  /* Footer style */
  .claya-footer .f-link {
      color: #FFFFFF !important;
      font-family: 'gilroy-light';
      font-weight: 600;
      font-size: 20px;
  }
  .claya-footer .f-link:hover {
      color: #a6a6a6 !important;
      font-family: 'gilroy-light';
      font-weight: 600;
      font-size: 20px;
  }
  
  @media (min-width: 991px) {
      .c-mega-menu.c-mega-menu-dark-mobile {
          display: none !important;
      }
      .claya-carousel {
          display: block !important;
      }
      .claya-carousel-mobile {
          display: none !important;
      }
      .claya-nutrient-listing {
          display: block !important;
      }
      .claya-nutrient-listing-mobile {
          display: none !important;
      }
      .claya-made-for-lisa {
          display: block !important;
      }
      .claya-made-for-lisa-mobile {
          display: none !important;
      }
      .cy-btn-white:hover {
        background: #3498DB;
        color: #fff;
      }
      .cy-btn-white:hover small,.cy-btn-white:hover h3 {
        color: #fff !important;
      }
  }
  @media (max-width: 991px) {
      .c-layout-header .c-navbar .c-mega-menu.c-mega-menu-dark-mobile {
          background: #FFFFFF;
      }
      .c-layout-header .c-navbar .c-mega-menu.c-mega-menu-dark-mobile > .nav.navbar-nav > li > .c-link {
          border-bottom: 1px solid #f5f6f8 !important;
      }
      .c-mega-menu.c-mega-menu-dark-mobile {
          display: block !important;
      }
      .c-layout-header .c-brand {
          margin: 20px 15px 4px 15px;
      }
      .cy-line {
          background-color: #FFFFFF !important;
      }
      .c-content-box > .container-fluid {
          padding: 0;
      }
      .c-link {
          color: #3498DB !important;
          font-weight: 600 !important;
          font-size: 16px !important;
      }
      .c-btn-icon {
          color: #3498DB !important;
          font-weight: 600 !important;
  
          font-size: 16px !important;
      }
  
      .claya-banner {
          text-align: center;
      }
      .claya-your-micronutrient-need * {
          text-align: center;
      }
      .claya-product-list li {
          text-align: center;
      }
      .claya-ultimate-bundle * {
          text-align: center;
      }
      .claya-text * {
          text-align: center;
      }
      .claya-page-listing * {
          text-align: center;
      }
      .claya-carousel {
          display: none !important;
      }
      .claya-carousel-mobile {
          display: block !important;
      }
      .claya-nutrient-listing {
          display: none !important;
      }
      .claya-nutrient-listing-mobile {
          display: block !important;
      }
      .claya-made-for-lisa {
          display: none !important;
      }
      .claya-made-for-lisa-mobile {
          display: block !important;
      }
  
      .center-on-mobile {
          text-align: center;
      }
      .hide-on-mobile {
          display: none;
      }
  }
  
  .cy-banner-container-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    height: 400px !important;
    overflow: visible;
    width: 100%;
    left: 0px;
  }
  
  .cy-banner-container-500 {
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    height: 500px !important;
    overflow: visible;
    width: 100%;
    left: 0px;
  }
  
  
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  .c-cart-menu:hover {
    cursor: default;
  }
  .frontend .form-control {
    font-family: 'Museo-Regular';
  }