html(lang="en")
    head
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet")
    title Bangcook :: 404
    style.
        .head {
            text-align: center;
            padding: 25px 10px;
        }
        .logo {
            width: 16%;
        }
        .content {
            text-align: center;
            padding: 200px 0px;
            background: #FFF;
            color: rgba(47, 45, 39, 1);
            min-height: 361px;font-family: 'Source Sans Pro';"
        }
        .page404 {
            font-size: 30px;
        }
        .home {
            margin: 20px 0px;
        }
        .homelink {
            text-decoration: none;
            color: #3b3933;
            font-size: 18px;
        }
        .homelink:hover {
            color: #fece43;
        }
    body
    .head
        a(href=URL)
            img.logo(src="http://cms-ui.bangcook.test.notasquare.vn/public/static/medsalus_Logo.png")
    .content
        .page404.
            Opps! Page Not Found
        div.home
            a.homelink(href=URL).
                Back to Home page