.pagination-gallery > li > a{
    background: white;
    border-radius: 0px !important;
    color: #515456 !important;
    cursor: pointer;
}

.pagination-gallery > li > a:hover{
    color: #c8d046 !important;
    background: #ffffff !important;
}

.pagination-gallery > li.active > a {
    background: #c8d046;
    color: #fff !important;
    border-color: #c8d046;
}

.pagination-gallery > li.active > a:hover {
    background: #c8d046 !important;
    border-color: #c8d046;
}


.thumbnail-gallery {
    margin-bottom: 32px;
    padding: 0;
    border: 0;
    box-shadow: 4px 3px 6px #ccc;
}
.thumbnail-gallery:hover {
    box-shadow: rgb(200, 208, 70) 4px 3px 6px;
}
.thumbnail-gallery > img {
    min-height: 150px;
    max-height: 150px;
}
.thumbnail-gallery .caption {
    padding: 5px 10px;
    font-size: 16px;
}

/* THUMBNAIL IMAGES */

.thumbnail-images {
    padding: 0;
    border: 0;
    background: transparent;
    position: relative;
}
.thumbnail-images > a > img {
    box-shadow: 1px 1px 3px #CCC;
    margin: 0;
    width: 100%;
}
.thumbnail-images > h3 {
    font-size: 20px;
}
.thumbnail-images > .caption {
    background: transparent;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.thumbnail-images > .subtt {
    position: absolute;
    top: 30px;
    padding: 5px 25px;
    background: #abd05e;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 4px;
    min-width: 255px;
    text-align: center;
    text-transform: uppercase;
}
.thumbnail-images-title {
    padding: 60px 0px;
    word-spacing: 5px;
    font-size: 30px;
}
.thumbnail-images-title > h3 {
    font-size: 30px;
}
.thumbnail-images-text {
    padding: 70px 0px;
}
.thumbnail-images-text > p {

}


.thumbnail-images-edit {
    position: relative;
    box-shadow: 4px 3px 6px #ccc;
    border: 0;
    padding: 0;
}
.thumbnail-images-edit:hover {
    box-shadow: rgb(200, 208, 70) 4px 3px 6px;
}
.thumbnail-images-edit > .caption > input{
    border: 0px;
    border-bottom: 1px solid #ddd;
}
.thumbnail-images-edit > .caption > select{
    border: 0px;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
}
.thumbnail-images-edit > img {
    min-height: 200px;
    max-height: 300px;
    margin: 0px;
    width: 100%;
}
.thumbnail-images-edit > .img-chg {
    position: absolute;
    display: none;
    right: 0px;
    font-weight: 100;
    cursor: pointer;
}
.thumbnail-images-edit > .img-del {
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    background: #e7505a;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
}
.thumbnail-images-edit:hover div.img-chg {
    display: inline;
}
.thumbnail-images-edit:hover div.img-del{
    display: inline;
}

.btn-outline-orange {
  border-color: #f1cd51 !important;
  background: 0 0  !important;
}

.btn-outline-orange:hover {
  border-color: #f5da7c  !important;
  background: 0 0  !important;
}

.block {
  display: block;
}

a.button {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: .8125em;
  letter-spacing: 1.6px;
  font-weight: 500;
  min-width: 200px;
  padding: 13px 15px 11px;
  border: 1px solid #33333b;
  color: #191919;
  -webkit-transition: all .23s ease-out;
  transition: all .23s ease-out;
  text-align: center;
}
.button-social {
  margin-bottom: 15px !important;
  display: inline-block;
  min-width: 145px !important;
  text-align: left !important;
  margin-left: 0px !important;
}

.button-social:hover .arrow-right {
    right: -10px;
    display: 'none';
}

a:hover .arrow-right {
    right: -10px;
    display: 'none';
}
.arrow-right {
  position: relative;
  right: 0;
  transition: right 0.23s ease;
}
.sweet-alert {
  border-radius: 0px !important;
}

button {
  border-radius: 0px !important;
}

.drop-language {
  color: rgba(47, 45, 39, 1) !important;
  font-weight: 600 !important;
  font-family: 'Source Sans Pro';
}

.drop-language > li > a {
  color: rgba(47, 45, 39, 1) !important;
  font-weight: 600 !important;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  text-transform: uppercase;
}

.drop-language > li > a:hover {
  color: #f1cd51 !important;
  background-color: transparent !important;
}

.drop-language > li > a:focus, .drop-language >li > a:active, .dropdown-toggle:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent !important;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent !important;
}

.dropdown-menu {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mouting-image-left-appear {
  left: -150px;
}

.mouting-image-left-appear.mouting-image-left-appear-active {
  left: 0px;
  transition:  left .5s ease-in;
  -webkit-transition: left .5s ease-in;
}

.mouting-image-right-appear {
  right: -150px;
}

.mouting-image-right-appear.mouting-image-right-appear-active {
  right: 0px;
  transition:  right .5s ease-in;
  -webkit-transition: right .5s ease-in;
}
.mouting-text-opacity-appear {
  opacity: 0.01;
}

.mouting-text-opacity-appear.mouting-text-opacity-appear-active {
  opacity: 1;
  transition:  opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
}

.mouting-image-opacity-appear {
  opacity: 0.1;
}

.mouting-image-opacity-appear.mouting-image-opacity-appear-active {
  opacity: 1;
  transition:  opacity .5s ease;
  -webkit-transition: opacity .5s ease;
}

@media (max-width: 991px) {
  .c-layout-header .c-brand{
    margin-top: 10px !important;
  }
}
@media (min-width: 992px) {
  .c-layout-header .c-brand {
      margin: 27px 0 25px 0;
  }
}
